body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

button {
    font-size: 25px;
    color: rgb(236, 113, 134);
}

ul{
    list-style-image: url(./img/cupcake.png);
    list-style-position: inside;
}

#one {
    background-color: lightblue;
}

#two {
    background-color: lightgreen;
}

#three {
    background-color: lightgoldenrodyellow;
}

#four {
    background-color: lightpink;
}

#five{
    background-color: lightcyan;
}