body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img{
    width: contain;
}

.header{
    font-size: 25px;
    text-align: center;
}

ul,
ol{
    display: inline-block;
    text-align: justify;
}
